@import '~@angular/material/theming';
@import 'my-theme';

.def-header {
  font-weight: 600;
  font-size: 1.15rem;
}

.def-container {
  padding: 1.25rem 1.25rem;
}

.def-vertical-space {
  padding: 0.5rem 0;
}

.mat-button.mat-success,
  .mat-stroked-button.mat-success {
  color: mat-color($mat-green, 500);
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: white;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: white;
  background-color: mat-color($mat-green, 500);
}

.mat-icon-button.mat-success {
  color: mat-color($mat-green, 500);
}
