.mail-item {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    flex: 1 1 auto;
    min-height: 100px;
  }

  &__head-button {
    margin-left: 0.5rem;
  }
}
